.direct-msg-page-inp {
  border: none;
  outline: none;
  width: 100%;
}

.search-result-user {
  width: 90%;
  height: fit-content;
}

.antd-demo-dynamic-option{
  width: 500px;
}

.onchange-modal-open{
  display: flex;
  gap: 10px;
  height: 22px;
}