.chatheader-avatar-style {
  display: flex;
  height: 28px;
  margin: 10px 0px 0px 20px;
  gap: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  width: fit-content;
}

.chatheader-avatar-style:hover {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
}

.chatHeader-user-profile-pic {
  margin-left: 25px;
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 5px;
}
.chatHeader-user-profile-pic-container {
  display: flex;
  gap: 10px;
}

.profile-tag-span-chatHeader {
  color: #1164a3;
  cursor: pointer;
  /* margin: 0 6px; */
  /* padding: 1 2px; */
  width: fit-content;
  background-color: rgb(236, 250, 255);
}
